{% extends 'base.html' %}

{% block header %}

<nav class="header">
    <a href="{{ url_for('update_film', film_id = film[0])}}">Modifier</a>
</nav>

{% endblock %}


{% block content %}

<section class="films">
    
    <h1>{{film[1]}}</h1>
    
    <div class="film" >
        
        <img src="{{ film[8] }}" alt={{film[1]}}>
        
        <ul>
            <li>Genre: {{ film[2] }}</li>
            <li> Année de Sortie: {{ film[3] }}</li>
            <li> Réalisateur: {{ film[4] }}</li>
            <li> Acteur: {{ film[5] }},{{ film[6] }},{{ film[7] }} </li>
        </ul>
        
        
    </div>
    
    <form method="POST" action="{{ url_for('delete_userfilm', film_id = film[9]) }}">
        <button  class="btn-supp" type="submit" value="Delete">supprimer le film</button>
    </form>

</section>
{% endblock %}