{% extends 'base.html' %}

{% block content %}

<form method="post" action="/search">
  <label for="titre">Rechercher un film à ajouter</label>
  <input type="text" name="titre" id="titre" required>
  <input type="submit" value="Chercher">
</form>

<section class="search">

  {% for i in data %}
  <div class="resultat">

    <ul>

      <img src="https://image.tmdb.org/t/p/w500/{{ i['poster_path'] }}" alt="{{i['title']}}">
    </ul>

    <!-- {{ i['id']}} -->

    <form method="post" action="/addfilm">
      <label for="titre">Titre: {{i['title']}}</label>
      <!-- <input type="text" name="titre" value="{{i['title']}}"><br> -->
      <!-- <label for="genre">Genre:</label>
      <input type="text" name="genre" value=""><br> -->
      <label for="annee">Année: {{i['release_date']}}</label>
      <!-- <input type="text" name="annee" value="{{i['release_date']}}"><br> -->
      <!-- <label for="realisateur">Réalisateur:</label>
      <input type="text" name="realisateur" value=""><br> -->
      <input type="hidden" name="affiche" value="https://image.tmdb.org/t/p/w500/{{ i['poster_path'] }}"><br>
      <input type="hidden" name="film" value="{{ i['id']}}"><br>
      <input class="btn" type="submit" value="Ajouter">
    </form>

  </div>
  {% endfor %}



  {% for i in data2 %}
  <div class="resultat">

    {{ data2 }}

   
  {% endfor %}



</section>
{% endblock %}