{% extends 'base.html' %}

{% block header %}
<header>

    <h1>{{film[1]}}</h1>

</header>
{% endblock %}


{% block content %}

<section>


    <form method="post" action="/update_film/{{ film[0] }}">
        <label for="titre">{{ film[1] }}</label>
        <input type="hidden" name="titre" value="{{ film[1] }}"><br>
        <label for="genre">Genre:</label>
        <input type="text" name="genre" value="{{ film[2] }}"><br>
        <label for="annee">Année:</label>
        <input type="text" name="annee" value="{{ film[3] }}"><br>
        <label for="realisateur">Réalisateur:</label>
        <input type="text" name="realisateur" value="{{ film[4] }}"><br>
        <input type="hidden" name="affiche" value="{{ film[8]}}"><br>
        <input class="btn" type="submit" value="Update">
    </form>


    <form action="">
        <p><a href="{{ url_for('get_userfilms')}}"> Retour à la liste de film</a></p>
    </form>

</section>

{% endblock %}