{% extends 'base.html' %}


{% block content %}
    <section>
        <form method="post" action="/update_user/{{ g.user }}">
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{ user_id['user'][2] }}"><br>
            <label for=NewPassword>Nouveau Password:</label>
            <input type="password" name="newPassword"><br>
            <label for="confirmPassword">Confirmation du Password</label>
            <input type="password" name="confirmPassword">
            <input type="hidden" name="password" value="{{ user_id['user'][3] }}"><br>
            <input class="btn" type="submit" value="Update">

        </form>
      
        <form action="">
            <p><a href="{{ url_for('get_userfilms')}}"> Retour à la liste de film</a></p>
        </form>


        <h2>{{ message }}</h2>
    </section>
{% endblock %}